#notification {
	margin: 10px 0 10px 0;
	padding: 10px 20px;
}

.project-id, .task-id, .task-preDecessor, .task-owner {
	width: 70px;
}

.task-plan, .task-do {
	width: 100px;
}

input[type="text"], select, textarea {
	height: auto;
	min-height: 50px;
	padding-left: 7px;
	border: 1px solid #CCC;
	border-radius: 4px;
}